<h2>horizontal-list-swiper/sly</h2>

<div class="container-fluid">

  <h4>Scroll to change the dates</h4>
  <h3>Default</h3>

  <div class="row mb8">
    <HorizontalListSwiper::Sly @itemsUpdate={{this.model}} as |item itemIndex|>
      <div class="scroll-header-sly">
        {{item}}
      </div>
    </HorizontalListSwiper::Sly>
  </div>

  <h3>Centered</h3>

  <div class="row mb8">
    <HorizontalListSwiper::Sly @active-item-alignment="centered" @itemsUpdate={{this.model}} as |item itemIndex|>
      <div class="scroll-header-sly">
        {{item}}
      </div>
    </HorizontalListSwiper::Sly>
  </div>

  <h3>Stiff</h3>

  <div class="row mb8">
    <HorizontalListSwiper::Sly @active-item-alignment="centered" @stiffness={{0.2}} @itemsUpdate={{this.model}} as |item itemIndex|>
      <div class="scroll-header-sly">
        {{item}}
      </div>
    </HorizontalListSwiper::Sly>
  </div>

</div>
