<div class="container-fluid">
  <h1>Slots filter</h1>
  <div class="slots-filter">
    <div class="even-odd-slots">
      <h2>Odd number of time slot options</h2>
      <SlotsFilter @appointmentSlots={{this.model.appointmentSlots}} as |filteredAppointmentSlots changeFilter selectedFilter|>
        {{#if selectedFilter}}
          <p>Selected time slot: {{selectedFilter.startTimeLabel}} - {{selectedFilter.endTimeLabel}}</p>
        {{else}}
          <p>No time slot selected</p>
        {{/if}}
        <SlotsPicker @appointmentSlots={{this.model.fourTimeSlots}} @selected={{this.model.selected}} @noSlotLabel="Not available" @selectedFilter={{selectedFilter}} @select={{action (mut this.model.selected)}} as |baseProps onSelectSlot|>
          <SlotsFilter::Ui @timeSlots={{baseProps.rows}} @changeFilter={{changeFilter}} @selectedFilter={{selectedFilter}} />
        </SlotsPicker>
      </SlotsFilter>
    </div>
    <div class="even-odd-slots">
      <h2>Even number of time slot options</h2>
      <SlotsFilter @appointmentSlots={{this.model.appointmentSlots}} as |filteredAppointmentSlots changeFilter selectedFilter|>
        {{#if selectedFilter}}
          <p>Selected time slot: {{selectedFilter.startTimeLabel}} - {{selectedFilter.endTimeLabel}}</p>
        {{else}}
          <p>No time slot selected</p>
        {{/if}}
        <SlotsPicker @appointmentSlots={{this.model.threeTimeSlots}} @selected={{this.model.selected}} @noSlotLabel="Not available" @selectedFilter={{selectedFilter}} @select={{action (mut this.model.selected)}} as |baseProps onSelectSlot|>
          <SlotsFilter::Ui @timeSlots={{baseProps.rows}} @changeFilter={{changeFilter}} @selectedFilter={{selectedFilter}} />
        </SlotsPicker>
      </SlotsFilter>
    </div>
  </div>
</div>
