<div class="row animated mt3">

  {{#date-picker-mobile dates=days selectedSlots=multiSelected onDateChange=(action 'onDateChange') as |selectPrevNextDate width currentIndex|}}
    {{#horizontal-swipe-view items=cellsPerCol width=width index=currentIndex onswipe=selectPrevNextDate as |item|}}

      <div class="asp-table">
        <div class="asp-col font-size-8 {{if slotsAreLoading 'slots-are-loading'}}">
          <div class="py1">

            {{#each item.cellsForCol as |cell|}}
              <div class="asp-row p1 border-right border-light-grey">
                <div class="asp-cell">
                  {{#if cell}}
                    {{slot-picker/button
                      appointmentSlot=cell
                      multiSelected=multiSelected
                      canSelectMultipleSlots=canSelectMultipleSlots
                      select=(action onSelectSlot)
                      deselect=(optional-action onDeselectSlot)
                    }}
                  {{else}}
                    <div class="no-slot-label">
                      {{cell.slotPickerRowLabel}} ({{if noSlotLabel noSlotLabel 'Fully booked'}})
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/each}}

          </div>
        </div>
      </div>

    {{/horizontal-swipe-view}}
  {{/date-picker-mobile}}

</div>
