<div class="date-picker-mobile-current-day text-center">
  <div class="font-size-6 day">
    {{#if tempCurrentDay}}
      {{to-upper-case (moment-format tempCurrentDay.date "dddd")}}
    {{else}}
      &nbsp;
    {{/if}}
  </div>
</div>

<div class="date-picker-mobile-days month-{{currentMonth.month}}">
  {{#scroll-header-sly
    itemsUpdate=days
    indexUpdate=currentIndex
    active-item-alignment="forceCentered"
    onmove=(action "onmove")
    onmoveend=(action "onmoveend")
    cacheKey=cacheKey
    as |day|
    }}
    <div class="date-picker-mobile-day">

      {{#if day.isBoundaryDayOfTheMonth}}
        {{#if (eq day.month tempCurrentDay.month)}}
        {{else}}
          <div class="date-picker-mobile-day-month text-center font-size-8 month-{{day.month}}">
            {{moment-format day.date "MMMM"}}
          </div>
        {{/if}}
      {{/if}}

      <div class="px1 text-center">
        <button
          class="p0 {{if (includes selectedMoments day.date) 'active'}}"
          disabled={{day.isDisabled}}
          {{action "onselectDate" day.date}}
          >
          {{moment-format day.date "D"}}
        </button>
      </div>

    </div>
  {{/scroll-header-sly}}
</div>

<div class="date-picker-mobile-current-month text-center font-size-8">
  {{moment-format tempCurrentDay.date "MMMM YYYY"}}
</div>

<div class="date-picker-mobile-scroll text-center font-size-1">
  {{yield (action "selectPrevNextDate") width currentDateIndex}}

  {{#if showLeftArrow}}
    <button class="date-picker-mobile-button fa fa-angle-left" {{action "selectPrevNextDate" -1}}></button>
  {{/if}}

  {{#if showRightArrow}}
    <button class="date-picker-mobile-button fa fa-angle-right" {{action "selectPrevNextDate" 1}}></button>
  {{/if}}
</div>
