{{#if showSkeletonSlot}}
  <h4>
    {{title}}
  </h4>
  <img aria-label="loading image" src={{skeletonSlotImageUrl}} alt="loading...">
{{else}}
  <ApplicationPreLoader>
    <h4>
      {{title}}
    </h4>
    <div class="cropDIS">
      <img class="pre-loader" src={{preLoaderUrl}} alt="loading...">
    </div>
  </ApplicationPreLoader>
{{/if}}
