{{#if this.slotsAreLoading}}
  <SlotsPicker::SlotsLoader />
{{else}}
  <div class="asp-desktop">
    <div class="asp-table">

      <HorizontalListSwiper::Gesture
        @displayAfterRender={{this.displaySlotAfterRender}}
        @index={{this.selectedDayIndex}}
        @items={{this.cellsPerCol}}
        as |item|
      >

        <div class="asp-col font-size-8">
          <div class="asp-row asp-row-header background-dark-blue white">
            <div class="asp-cell border-right border-white">
              {{item.col.dayLabel}}
            </div>
          </div>

          {{#each item.cellsForCol as |cell index|}}
            <div class="asp-row border-right border-light-grey">
              <div class="asp-cell">
                {{#if cell}}
                  <SlotsPicker::Button
                    @appointmentSlot={{cell}}
                    @multiSelected={{this.multiSelected}}
                    @canSelectMultipleSlots={{this.canSelectMultipleSlots}}
                    @select={{action this.onSelectSlot}}
                    @deselect={{optional-action this.onDeselectSlot}}
                  />
                {{else}}
                  <div class="no-slot-label">
                    {{if this.noSlotLabel this.noSlotLabel "Fully booked"}}
                  </div>
                {{/if}}
              </div>
            </div>
          {{/each}}

        </div>

      </HorizontalListSwiper::Gesture>
    </div>
  </div>
{{/if}}
