{{#if this.loading}}
  <span class="fa fa-refresh fa-spin" aria-hidden="true"></span>
  {{this.loading-text}}
{{else}}
  {{#if (not this.hide-icon)}}
    {{#if this.customIcon}}
      <span
        class="bg-button-icon {{this.customIcon}}"
        aria-hidden="true"
      ></span>
    {{else}}
      <span class="bg-button-icon fa fa-angle-right" aria-hidden="true"></span>
    {{/if}}
  {{/if}}

  {{yield}}

  {{#if this.isTagged}}
    <span class="bg-button-icon fa fa-tag" aria-labelledby="tagInfo"></span>
  {{/if}}
{{/if}}
