{{#if this.isSelected}}
  {{#if this.canSelectMultipleSlots}}
    <BgButton
      class="asp-btn selected background background-dark-blue"
      @theme="secondary"
      @hide-icon="true"
      @action={{action @deselect this.appointmentSlot}}
    >
      {{this.appointmentSlot.slotPickerTime}}
    </BgButton>
  {{else}}
    <div
      class="asp-appointment-slot-selected white background background-dark-blue"
    >
      {{this.appointmentSlot.slotPickerTime}}
      {{#if this.appointmentSlot.slotPickerHasTag}}
        <span class="fa fa-tag" aria-labelledby="tagInfo"></span>
      {{/if}}
      <span class="fa fa-check" aria-hidden="true"></span>
    </div>
  {{/if}}
{{else}}
  <BgButton
    class="asp-btn"
    @theme="secondary"
    @hide-icon="true"
    @isTagged={{this.appointmentSlot.slotPickerHasTag}}
    @action={{action @select this.appointmentSlot}}
  >
    {{this.appointmentSlot.slotPickerTime}}
  </BgButton>
{{/if}}
