{{#if this.slotsAreLoading}}
  <SlotsPicker::SlotsLoader />
{{else}}
  <div class="row mt3">

    <DatePicker::Mobile @dates={{this.days}} @selectedSlots={{this.multiSelected}} @onDateChange={{action "onDateChange"}} as |selectPrevNextDate width currentIndex|>
      <HorizontalListSwiper::Gesture2 @items={{this.cellsPerCol}} @width={{width}} @index={{currentIndex}} @onswipe={{selectPrevNextDate}} as |item|>

        <div class="asp-table">
          <div class="asp-col font-size-8">
            <div class="py1">

              {{#each item.cellsForCol as |cell|}}
                <div class="asp-row p1 border-right border-light-grey">
                  <div class="asp-cell">
                    {{#if cell}}
                      <SlotsPicker::Button
                        @appointmentSlot={{cell}}
                        @multiSelected={{this.multiSelected}}
                        @canSelectMultipleSlots={{this.canSelectMultipleSlots}}
                        @select={{action this.onSelectSlot}}
                        @deselect={{optional-action this.onDeselectSlot}}
                      />
                    {{else}}
                      <div class="no-slot-label">
                        {{cell.slotPickerRowLabel}} ({{if this.noSlotLabel this.noSlotLabel 'Fully booked'}})
                      </div>
                    {{/if}}
                  </div>
                </div>
              {{/each}}

            </div>
          </div>
        </div>

      </HorizontalListSwiper::Gesture2>
    </DatePicker::Mobile>

  </div>
{{/if}}
