<div class="shadow appointment-slot-picker">
  <p class="white font-size-8 background-dark-blue py1 border-radius-top4">
    {{this.dayOfWeek}}
  </p>
  <p class="font-size-2 light">
    {{this.day}}
  </p>
  <p class="font-size-9">
    {{this.month}}
  </p>
  <div class="p3">
    {{#each this.appointmentSlotsNotEmpty as |appointmentSlot|}}
      <SlotsPicker::button
        class="mb2"
        @appointmentSlot={{appointmentSlot}}
        @multiSelected={{this.multiSelected}}
        @canSelectMultipleSlots={{this.canSelectMultipleSlots}}
        @select={{action this.select}}
        @deselect={{optional-action this.deselect}}
      />
    {{/each}}
  </div>
</div>
