
{{#if slotsAreLoading}}
  {{slots-picker/loader}}
{{else}}
  <div class="asp-cards text-center">
    <div class="asp-table">
      <div class="row">
        <div class="col-xs-12 slot-picker-cards-container">
          {{#each cellsPerCol as |item|}}
            <div class="mb6 {{columnClasses}} {{fiveCardsClass}}">
              {{slots-picker/cards/day-card
                appointmentSlots=item.cellsForCol
                multiSelected=multiSelected
                canSelectMultipleSlots=canSelectMultipleSlots
                select=(action onSelectSlot)
                deselect=(optional-action onDeselectSlot)
              }}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
