<div class="filter-container">
  {{#if this.viewport.isXs}}
    <div class="filter-container-mobile">
      <button type="button" class="btn btn-tertiary" {{action "filterButtonClick"}}>
        <span class="{{if this.areTimeSlotsHidden 'fa fa-angle-down' 'fa fa-angle-up'}}" aria-hidden="true"></span>
        Filter by time slots
      </button>
      <div hidden={{this.areTimeSlotsHidden}} class="filter">
        <div class="filter-button-group" role="group">
          {{#if this.areSlotsEven}}
            {{#each this.allTimeSlots as |timeSlot|}}
              {{! TODO: use slot-picker-button instead! }}
              <button type="button"
                class="filter-slot {{if (eq timeSlot this.selectedTimeSlot) 'filter-slot-selected'}}"
                {{action "timeSlotButtonClick" timeSlot}}>
                {{timeSlot.label}}
              </button>
            {{/each}}
          {{else}}
            {{#each this.inputTimeSlots as |timeSlot|}}
              <button type="button"
                class="filter-slot {{if (eq timeSlot this.selectedTimeSlot) 'filter-slot-selected'}}"
                {{action "timeSlotButtonClick" timeSlot}}>
                {{timeSlot.label}}
              </button>
            {{/each}}
            {{#each this.fixedTimeSlots as |timeSlot|}}
              <button type="button"
                class="filter-slot filter-slot-big {{if (eq timeSlot this.selectedTimeSlot) 'filter-slot-selected'}}"
                {{action "timeSlotButtonClick" timeSlot}}>
                {{timeSlot.label}}
              </button>
            {{/each}}
          {{/if}}
        </div>
        <div class="solid-divider filter-divider"></div>
      </div>
    </div>
  {{else}}
    <div class="filter-container-desktop">
      <span class="filter-desktop-title">Filter by time</span>
      <div class="filter-button-group" role="group">
        {{#each this.fixedTimeSlots as |timeSlot|}}
          {{! TODO: use slot-picker-button instead! }}
          <button type="button"
            class="filter-slot-desktop {{if (eq timeSlot this.selectedTimeSlot) 'filter-slot-selected'}}"
            {{action "timeSlotButtonClick" timeSlot}}>
            {{timeSlot.label}}
          </button>
        {{/each}}
        {{#each this.inputTimeSlots as |timeSlot|}}
          <button type="button"
            class="filter-slot-desktop {{if (eq timeSlot this.selectedTimeSlot) 'filter-slot-selected'}}"
            {{action "timeSlotButtonClick" timeSlot}}>
            {{timeSlot.label}}
          </button>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
