<div class="container-fluid">
  <h1>Slot picker filter</h1>
  <div class="slot-picker-filter">
    <div class="even-odd-slots">
      <h2>Odd number of time slot options</h2>
      {{#slot-picker-filter
        appointmentSlots=model.appointmentSlots
        as |filteredAppointmentSlots changeFilter selectedFilter|
      }}
        {{#if selectedFilter}}
          <p>Selected time slot: {{selectedFilter.startTimeLabel}} - {{selectedFilter.endTimeLabel}}</p>
        {{else}}
          <p>No time slot selected</p>
        {{/if}}
        {{#slot-picker
          appointmentSlots=model.fourTimeSlots
          selected=model.selected
          noSlotLabel="Not available"
          selectedFilter=selectedFilter
          select=(action (mut model.selected))
          as |baseProps onSelectSlot|
        }}
          {{slot-picker-filter/ui
            timeSlots=baseProps.rows
            changeFilter=changeFilter
            selectedFilter=selectedFilter
          }}
        {{/slot-picker}}
      {{/slot-picker-filter}}
    </div>
    <div class="even-odd-slots">
      <h2>Even number of time slot options</h2>
      {{#slot-picker-filter
        appointmentSlots=model.appointmentSlots
        as |filteredAppointmentSlots changeFilter selectedFilter|
      }}
        {{#if selectedFilter}}
          <p>Selected time slot: {{selectedFilter.startTimeLabel}} - {{selectedFilter.endTimeLabel}}</p>
        {{else}}
          <p>No time slot selected</p>
        {{/if}}
        {{#slot-picker
          appointmentSlots=model.threeTimeSlots
          selected=model.selected
          noSlotLabel="Not available"
          selectedFilter=selectedFilter
          select=(action (mut model.selected))
          as |baseProps onSelectSlot|
        }}
          {{slot-picker-filter/ui
            timeSlots=baseProps.rows
            changeFilter=changeFilter
            selectedFilter=selectedFilter
          }}
        {{/slot-picker}}
      {{/slot-picker-filter}}
    </div>
  </div>
</div>
