<h2>date picker pickadate</h2>
<h3>(to be renamed from pickadate-input)</h3>
<div class="container-fluid">
  <div class="row mb8 fix-container">
    {{!-- TODO: rename to date-picker/pickadate https://github.com/britishgas-engineering/ember-appointment-slots-pickers/issues/20 --}}
    <PickadateInput @min={{this.min}} @max={{this.max}} @select={{route-action "select"}} @hideToday={{true}} @selected={{this.model.selectedDate}} @jsDays={{this.jsDays}} @setShorterDays={{true}} />
  </div>
</div>
